@import "tailwindcss";

@theme {
  --color-brand-primary: #ff8600; /* UT Orange */
  --color-brand-hover: #ffb703; /* Selective Yellow */
  --color-brand-secondary: #219ebc; /* Blue Green */
  --color-brand-light: #8ecae6; /* Sky Blue */
  --color-brand-dark: #023047; /* Prussian Blue */
}

.app {
  /* background-color: var(--color-brand-light); */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-georgia {
  font-family: 'Georgia', serif;
}

/* Custom Scrollbar for Dropdowns and Lists */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
}
